/*textarea {
    resize: none; /* Запрещаем изменять размер */
/*    width: 150px;
    height: 30px;
}
*/
select {
    width: 150px;
}
/*input[type="submit"] {*/

/*}*/
table{
    margin: auto;
}

.align-btn
{
    text-align: center;
}